<footer>
  <div class="row">
      <div class="col-sm-2 text-center">
         <span class="PROPERTY-VIBEES">PROPERTY</span>
           <br> <span style="font-weight: normal;
           letter-spacing: 0.45px;font-family: Gotham;">VIBEES</span> 
             
      </div>

      <div class="col-sm-7 footer_element text-center">
        
          <ul>
              <li><a routerLink="/foundationboard" style="color:black">Foundation Board</a></li>
              <li><a href="#news" style="color:black">Careers </a></li>
              <li><a routerLink="/privacypolicy" style="color:black">Privacy Policy</a></li>
              <li><a routerLink="/termscondition" style="color:black">Terms & Conditions</a></li>
          </ul>
       </div>

      <div class="col-sm-3 text-right d-none d-sm-block">
         <span style="font-family: Avenir;
         font-size: 15px;
         font-weight: normal;
         font-style: normal;color: #000000;">keep in <strong>Touch</strong> &nbsp; &nbsp;<img src="assets/img/fb_icon/group-276.png">&nbsp; &nbsp;<img src="assets/img/twitter_icon/group-273.png"> </span>
        </div>
     </div> 

     <div class="row displayin_sm" >
       <div class="col-sm-12 text-center">
          <span>keep in touch &nbsp; &nbsp;<img src="assets/img/fb_icon/group-276.png">&nbsp; &nbsp;<img src="assets/img/twitter_icon/group-273.png"> </span>

       </div>
     </div>

     <div class="row footerdiv">
       <div class="col-sm-12 text-center">
          <p>Copywrite text goes here</p>
       </div>
      
     </div>
</footer>