<section class="welcome_area" style="padding-bottom:60px" >
      <div class="container">
         <div class="row welcome_inner" style="position:relative">
            <div class="col-lg-7" style="padding-right:0 !important">
               <div class="welcome_img">
                  <img class="img-fluid" src="assets/img/property_inner/img.jpg" alt="" style="width:100%; height:468px !important">
               </div>
            </div>
            <div class="col-lg-5" style="background-color:#ffffff !important; object-fit: contain;
               box-shadow: 17px 0 36px 0 rgba(0, 0, 0, 0.07);">
               <div class="welcome_text">
                  <h4>Himalaya Pride</h4>
                  <p class="grouppara">By Himalaya Group <br>
                     Greater Noida West, Greater Noida
                  </p>
                  <hr style="width: 21px;
                     height: 4px;
                     margin-left: 5px;
                     background-color: black">
                  <h4>21 Lac Onwards</h4>
                  <p class="grouppara">2 & 3 BHK Flats  . 948 - 1974 Sqft</p>
                  <div class="centered1_inner" >
                     <span class="box_container">  
                        <span class="para_rating">Vastu Rating</span>  
                        <h5>8/10</h5>
                     </span>
                     <span style="display: flex;
                        align-items: center;
                        justify-content: center;width:70%;">
                        <p style="width: 257px;font-family: Avenir;font-style: normal;
                           font-stretch: normal;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                     </span>
                  </div>
                  <div class="bottom-left1"><img src="assets/img/star_round/group-9.png"></div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="sec_courosal" style="padding-bottom:40px">
      <h2>Take a closer look
      </h2>
      <div class="container" >
         
            <!-- <owl-carousel [options]= "{items: 3, dots: true, navigation: false, autoPlay:true, autoplaySpeed:1000 }" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                     <div class="item" *ngFor="let image of images;let i= index">
                       <img  src="{{image.image}}" style="width:340px;height:337px;" >
                       <div class="slide-text text-center">
                         <h4 class="slidetext">{{image.text}}</h4>
                       </div>
                     </div>
                     
               </owl-carousel> -->

               <div class="owl-carousel" style="position: relative">
                  <div  *ngFor="let image of images; let i= index ">
                        <div class="item"><img src="{{image.image}}" alt="Owl Image"  style="width:340px;height:337px;"></div>
                        <div class="slide-text text-center">
                              <h4 class="slidetext">{{image.text}}</h4>
                        </div>

                  </div>
          
                     
                    
                </div>
            </div>
   </section>
   <section class="amenities" style="padding-bottom:80px">
      <div class="container" >
         <h2>Amenities
         </h2>
         <div class="row text-left inlinepro">

            <div class='table'>
               <div class='cell'>
                  <ul>
                     <h4>Sports</h4>
                     <li>Yoga Huts</li>
                     <li>Gymnasium</li>
                     <li>Kid's Play Area</li>
                     <li>Swimming Pool</li>
                     <li>Indoor & Outdoor Games</li>
                  </ul>
               </div>
               <div class='cell'>
                  <ul>
                     <h4>Leisure</h4>
                     <li>Amphitheatre</li>
                     <li>Steam & Sauna</li>
                     <li>Exclusive Club</li>
                     <li>Reserved Parking</li>
                     <li>Multipurpose Hall</li>
                  </ul>
               </div>
               <div class='cell'>
                  <ul>
                     <h4>Environment</h4>
                     <li>Over 650 Trees Planted</li>
                     <li>Over 10k sqm of Lush</li>
                     <li>Green Area</li>
                  </ul>
               </div>
               <div class='cell'>
                  <ul>
                     <h4>Security</h4>
                     <li>CCTV</li>
                     <li>24x7 Security</li>
                     <li>Fire Fighting Equipment</li>
                  </ul>
               </div>
               <div class='cell'>
                  <ul>
                     <h4>Others</h4>
                     <li>Water Storage</li>
                     <li>Dedicated Pet Area</li>
                  </ul>
               </div>
               
           </div>


         </div>
      </div>
   </section>

   <section class="diagram displayno" style="padding-bottom: 80px">
      <!-- <div class="container" style="background: url('./assets/img/bg2_1.png') no-repeat;"> -->
      <div class="container-fluid">
         <div class="main_title">
            <h2>Vastu Advantages for this Space</h2>
         </div>
         <div style="position: relative;">
            <img src="assets/img/diagram/bitmap@2x.jpg">
            <div class="phase2">
               <div class="arrangetext">
                  <img src="assets/img/plus/group-10.png">
                  <hr/>
                  <span class="number">2</span> &nbsp;&nbsp;
                  <span class="textafternumber"> South Facing
                  Entrance</span>
               </div>
            </div>
            <div class="phase1">
               <div class="arrangetext">
                  <img src="assets/img/plus/group-10.png">
                  <hr/>
                  <span class="number">1</span> &nbsp;&nbsp;
                  <span class="textafternumber"> Open Area
                  Facing North</span>
               </div>
            </div>
            <div class="phase3">
               <div class="arrangetext">
                  <span class="textafternumber" style="width:75px">Bedroom
                        Direction</span>
                  <span class="number">3</span> &nbsp;&nbsp;
                  <hr/>
                  <img src="assets/img/plus/group-10.png">
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class="download" style="padding-bottom: 80px">

      <div class="container">
         <div class="report">

            <h2>Vastu Report</h2><br>
            <p>Light up your interiors by having maximum no. of windows in the northern sides and 
               invite financial prosperity, windows and large openings towards northeast walls invites 
               good health and mental stability, concentration and peace of mind. </p>
            <button type="button" class="btn btn-block" (click)="downloadAsPDF()">Download the Report</button>

         </div>
      </div>

   </section>

   <div id="pdfTable" #pdfTable>
      
   
      <table>
      <tr>
        <td>{{images2[0].text}}</td>
        <td>{{images2[0].name}}</td>
        
       
      </tr>
      
    </table>
    

    </div>


         <div class="pparea">
               <h1 style="box-shadow:none;height:0">Other Properties Related to your Search</h1>
               <div id="container1" >
                  <div
                  ng2-carouselamos
                  class="slides-wrapper"
                  [items]="images1"
                  [width]="980"
                  [$prev]="prev"
                  [$next]="next"
                  [$item]="item">
               </div>
               <ng-template #prev>
                  <img src="assets/img/prev_icon/previous.png" id="left"  style="width: 50px;
                     height: 50px;">
               </ng-template>
               <ng-template #next>
                  <img src="assets/img/next_icon/next.png" id="right" style="width: 50px;
                     height: 50px;" >
               </ng-template>
               <ng-template #item let-item let-i="index">
                  <div class="slide-items">
                    <p style="text-align:center; font-family: Prata;
                    font-size: 15px;text-transform: capitalize;color: #000000;font-weight: normal;">Lorem Ipsum<br>{{item.title }}</p>
                     <!-- <p style="text-align:center">{{item.title }}</p> -->
                     <div class="carousel-content"><span>Vastu Rating</span><br><span style="font-size: 16px; font-weight: 500">{{item.rating}}/10</span></div>
                     <img src="{{ item.name }}">
                   
                  </div>
               </ng-template>
            </div>


            <app-contactinfo></app-contactinfo>




