<section class="welcome_area" style="padding-bottom:60px">
    <div class="container overtext">
       <div class="row welcome_inner">
          <div class="col-lg-12">
             <div class="welcome_img">
                <img class="img-fluid" src="assets/img/aboutus_banner/group-12@2x1.jpg" alt="" style="width:100%; height:468px !important">
             </div>
             <div class="centered"><p class="bannerheader">Allow us to bring life to each corner of your space.</p>
               <p class="bannertext">We, at the Eight Way, have developed a team that has expertise and experience in Vastu/Energy ratings to provide our consumers with the most accurate results.</p></div>
            
          </div>
     

          <div class="col-lg-12" style="margin:40px 0">
            <div class="Rectangle">
                <span class="Why-Property-Vibees">Why Property Vibees?</span>
                <p class="Owing-to-the-signifi">Owing to the significant rise in accessibility to Internet, many businesses now offer their services through this digital medium. There are several websites available providing hands-on services for Real Estate sector and Vastu/Energy Rating analysis, yet users are forced to access them separately. The Eight Way aims to do away with this inconvenience by creating a unified platform for both these services.</p>
            </div>  
         </div>

         <div style="margin:0 auto">
            <img src="assets/img/compass/compass.png" alt="centered image" />
         </div>
       </div>
      </div>

<div class="container" style="margin-top:60px">

   <div class="row contain_width" style="margin:0 auto">
      <div class="col-lg-4 p_10">
         <h5 class="Vastu-shastra-Copy">Vastu shastra</h5>
         <p class="The-Sanskrit-word-v">The Sanskrit word vāstu means a dwelling or house with a corresponding plot of land. The vrddhi, vāstu, takes the meaning of "the site or foundation of a house, site, ground, building or dwelling-place, habitation, homestead, house". The underlying root is vas "to dwell, live, stay, reside". The term shastra may loosely be translated as "doctrine, teaching"</p>
      </div>
      <div class="col-lg-4">
         <img src="assets/img/img25/group-13@2x1.jpg" style="width: 281px;
         height: 377px;
         object-fit: contain;" alt="centered image" />
      </div>
      <div class="col-lg-4">
         <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#"> <img src="assets/img/re5/group-11.png" ><span>EARTH</span></a>
            </li>
            <li class="nav-item margin_set">
              <a class="nav-link" href="#"><img src="assets/img/re4/group-10.png"><span>WATER</span></a>
            </li>
            <li class="nav-item margin_set">
              <a class="nav-link" href="#"><img src="assets/img/re3/group-9.png"><span>FIRE</span></a>
            </li>
            <li class="nav-item margin_set">
               <a class="nav-link" href="#"><img src="assets/img/re2/group-8.png"><span>SKY</span></a>
             </li>
             <li class="nav-item margin_set">
               <a class="nav-link" href="#"><img src="assets/img/re1/group-2.png" ><span>AIR</span></a>
             </li>
          </ul>
      </div>
   </div>

</div>
</section> 

<section class="advantages">
   <!-- <div class="container" style="background: url('./assets/img/bg2_1.png') no-repeat;"> -->
 <div class="container">
      <div class="main_title">
         <h2>Advantages</h2>
      </div>   

      <div class="adjustdiv1" >
         <div class="single_row1">
               <div class="carousel-content1"><img src="assets/img/bulb/group.png" style="width: 43px;
                  height: 43px;
                  object-fit: contain;" /><p class="Provides-comfort-ea">Provides comfort,
ease of use and convenience</p></div>
           
            <img src="assets/img/round_img/oval@2x.png" style="width: 182px;height:182px">
            
         </div>
         <div class="single_row1">

               <div class="carousel-content1"><img src="assets/img/card2/zen.png" style="width: 43px;
                  height: 43px;
                  object-fit: contain;" /><p class="Provides-comfort-ea">Brings you harmony 
            and fulfillment</p></div>
           
            <img src="assets/img/round_img/oval@2x.png" style="width: 182px;height:182px;">
         
         </div>

         <div class="single_row1">

               <div class="carousel-content1"><img src="assets/img/respect/respect.png" style="width: 43px;
                  height: 43px;
                  object-fit: contain;" /><p class="Provides-comfort-ea">Enhances relationships
        inwardly and outwardly</p></div>
          
            <img src="assets/img/round_img/oval@2x.png" style="width: 182px;height:182px;">
           
         </div>
         <div class="single_row1">

               <div class="carousel-content1"><img src="assets/img/energy/energy-saving.png" style="width: 43px;
                  height: 43px;
                  object-fit: contain;" /><p class="Provides-comfort-ea">Enhances relationships
        inwardly and outwardly</p></div>
          
            <img src="assets/img/round_img/oval@2x.png" style="width: 182px;height:182px;">  
             
         </div>
        
      </div>
       
   
 </div>
</section>


<section class="allowto" >
      <!-- <div class="container" style="background: url('./assets/img/bg2_1.png') no-repeat;"> -->
    <div class="container">
       <div class="main_title" style="margin-top:60px">
         
            <img src="assets/img/bulb1/group-3.png">  
     
           
          <h5>Allow us to bring life to each corner of your space.</h5><br>
          <p class="Light-up-your-interi-Copy">Light up your interiors by having maximum no. of windows in the northern sides and invite financial prosperity, windows and large openings towards northeast walls invites good health and mental stability, concentration and peace of mind. </p>
          <br>
          <button type="button" class="btn btn-default btn-block Rectangle-Copy-12"><span style="font-family: Avenir;
            font-size: 12px;
            font-weight: 500;">Get Vastu Assessment</span></button>
       </div>
    </div>
 </section>

 <section class="cities_area" style="margin-bottom: 100px">
   <div class="container-fluid tocover" style="width:100%;padding-top:20px;">
      <div class="main_title">
         <h2>Featured Projects </h2>
      </div>
      <div class="adjustdiv">
         <div class="single_row">
            <img src="assets/img/path/icon1.png" id="left" class="adjust">
            <span class="Lorem-Ipsum-Paldi-Copy-2">
               <h4 >Lorem Ipsum</h4>
               <p style="font-size: 14px">Paldi</p>
            </span>
            <img class="img-fluid imagewidth" src="assets/img/property1/bitmap-copy-5.jpg" alt="">
         
         </div>
         <div class="single_row">
            <img src="assets/img/path/icon1.png" id="left" class="adjust"  >
            <span class="Lorem-Ipsum-Paldi-Copy-2 ">
               <h4 >Lorem Ipsum</h4>
               <p style="font-size: 14px">Praladnagar</p>
            </span>
            <img class="img-fluid imagewidth" src="assets/img/property2/bitmap.jpg" alt="">
          
         </div>
         <div class="single_row">
            <img src="assets/img/path/icon1.png" id="left" class="adjust">
            <span class="Lorem-Ipsum-Paldi-Copy-2 ">
               <h4>Lorem Ipsum</h4>
               <p style="font-size: 14px">Paldi</p>
            </span>
            <img class="img-fluid imagewidth" src="assets/img/property3/bitmap.jpg" alt="">
           
         </div>
         <div class="single_row">
            <img src="assets/img/path/icon1.png" id="left" class="adjust"  >
            <span class="Lorem-Ipsum-Paldi-Copy-2">
               <h4 >Lorem Ipsum</h4>
               <p style="font-size: 14px">Paldi</p>
            </span>
            <img class="img-fluid imagewidth" src="assets/img/property1/bitmap-copy-5.jpg" alt="">  
               
         </div>
         <div class="single_row">
            <img src="assets/img/path/icon1.png" id="left" class="adjust"  >
            <span class="Lorem-Ipsum-Paldi-Copy-2 ">
               <h4 >Lorem Ipsum</h4>
               <p style="font-size: 14px">Praladnagar</p>
            </span>
            <img class="img-fluid imagewidth" src="assets/img/property2/bitmap.jpg" alt="">
          
         </div>
      </div>
   </div>
</section>